docker.enabled = true

params {
    // Primary input (file of input files, one per line)
    reads_bam        = "./data/sample_bams.txt"

    // Output directory
    params.outdir = "results_genomics"

    // Accessory files
    reference        = "./data/ref/ref.fasta"
    reference_index  = "./data/ref/ref.fasta.fai"
    reference_dict   = "./data/ref/ref.dict"
    intervals        = "./data/ref/intervals.bed"

    // Base name for final output file
    cohort_name      = "family_trio"
}
