profiles {
    docker {
        process.container = true
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'  // Avoid permission issues
    }

    singularity {
        singularity.enabled = true
    }

    slurm {
        executor = 'slurm'
        queue = 'default'
    }
}

params {
    input = "sample_list.txt"  // Path to sample list
    ref_fasta = "/path/to/genome.fa"  // Reference genome FASTA
    outdir = "results"  // Output directory
}

process {
    withLabel: 'bwa' {
        cpus = 8
        memory = '16GB'
    }

    withLabel: 'picard' {
        cpus = 4
        memory = '8GB'
    }

    executor {
        queueSize = 4  // Limits parallel job execution
    }
}

report {
    enabled = true
    file = "pipeline_report.html"
}


params {
    // Primary input (file of input files, one per line)
    reads_bam        = "./data/sample_bams.txt"

    // Output directory
    params.outdir = "results_genomics"

    // Accessory files
    reference        = "./data/ref/ref.fasta"
    reference_index  = "./data/ref/ref.fasta.fai"
    reference_dict   = "./data/ref/ref.dict"
    intervals        = "./data/ref/intervals.bed"

    // Base name for final output file
    cohort_name      = "family_trio"
}
